<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <form [formGroup]="identForm" (ngSubmit)="tabmult()">
                    <div class="field"> 
                        <label class="label">entrer un chiffre</label>
                        <div class="control"> 
                            <input class="input is-success" formControlName="multipli" type="number" placeholder="Exemple : 5" value="">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control"> 
                            <button class="button is-link">Soumettre</button> 
                        </div>
                    </div>
                </form>
<ul *ngFor="let i of nbrTable"> 
    <li>----------------------</li> 
    <li *ngFor="let numbers of tab_mult">
        {{nbrTable[i-1]}} x {{numbers.num}} = {{numbers.num * nbrTable[i-1]}}
    </li>
</ul>