<app-header></app-header>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="assets/images/calc.jpg" />
    </a>
  </div>
  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">Accueil</a>
    </div>
  </div>
</nav>
<section class="section">
  <div class="container" align="center">
    <div class="column">
      <h1 class="title is-1" >Tables de Multiplications</h1>
    </div>
  </div>
  <app-multiplication></app-multiplication>
  <app-tabledemultiplication></app-tabledemultiplication>
</section>
<app-footer></app-footer>