<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <form [formGroup]="identForm" (ngSubmit)="multiplication()">
                    <div class="field"> 
                        <label class="label">entrer un chiffre</label>
                        <div class="control"> 
                            <input class="input is-success" formControlName="multi" type="number" placeholder="Exemple : 5" value="">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control"> 
                            <button class="button is-link">Soumettre</button> 
                        </div>
                    </div>
                </form>
                <ul *ngIf=multi>
                    <li *ngFor="let numbers of table">
                        {{numbers.num}} x {{multi}} = {{numbers.num * multi}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>